@tailwind base;
@tailwind components;
@tailwind utilities;

/* Eliminamos cualquier margen o flex que desplace el contenido */
html, body, #root {
  height: 100vh !important;
  width: 100vw !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  background-color: #ffffffff !important;
}

/* El secreto: el root debe ser relativo para permitir capas absolutas */
#root {
  position: relative !important;
  display: block !important;
}

.glass-panel {
  @apply bg-slate-900/95 backdrop-blur-2xl border border-white/10 shadow-2xl text-white;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}