@tailwind base;
@tailwind components;
@tailwind utilities;

/* Eliminamos el scroll y forzamos el centrado en toda la ventana */
html, body, #root {
  height: 100% !important;
  width: 100% !important;
  margin: 0;
  padding: 0;
  background-color: #050a14 !important;
  color: #f1f5f9 !important; /* Texto visible por defecto */
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#root {
  display: flex;
  flex-direction: column;
}